<h1>Mario's Specialty Foods Site</h1>
<div class="image-index">
</div>
<% if Product.most_reviews %>
  <h4>Product with most reviews: <%= Product.most_reviews.name %><h4>
<% end %>
<h4>Keep it local! Products made in United States of America: </h4>
<% if Product.made_in_usa.any? %>
  <ul>
    <% Product.made_in_usa.each do |product_usa| %>
      <li><%= product_usa.name %></li>
      <% end %>
  </ul>
<% else %>
  <p>Sadly, no products found from United States of America.</p>
<% end %>

<% if Product.most_recently_added.any? %>
<h4>Most Resently Added Products: </h4>
  <ol>
  <% Product.most_recently_added.each do |product_recent| %>
    <li><%= product_recent.name %></li>
  <% end %>
  </ol>
<% end %>

<p><%= link_to "Add a product", new_product_path %></p>

<h2>Full List of Products</h2>

<% if @products.any? %>
  <ul>
    <% @products.each do |product| %>
      <li><%= link_to product.name, product_path(product) %></li>
    <% end %>
  </ul>
<% else %>
  <p>No products to display yet.</p>
<% end %>
