<div class="container">
<div class="notice">
<%= flash[:alert] %>
<%= flash[:notice] %>
</div>
h2>Edit <%= @review.author %>'s Review of <%= @product.name %></h2>

<%= render "layouts/review_form" %>
</div>