<%= render "layouts/errors", :object => @review %>

<%= form_for [@product, @review] do |f| %>
  <div class="field">
  <%= f.label :author %><br>
  <%= f.text_field :author %>
  </div>
  <div class="field">
  <%= f.label :rating %><br>
  <%= f.number_field :rating %>
  <div class="field">
  <%= f.label :content_body %><br>
  <%= f.text_field :content_body %>
  <div class="field">
  <%= f.submit %>
  </div>
<% end %>